/* geral */

html, body {
  height: 100%;
  overflow: hidden;
  background-color: #f9fafb;
}

/* main buttons */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  padding: 2em;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.main-btn {
  width: 100%;
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius:  12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 1.8em 1.7em;
  text-align: left;
  transition: 0.3s ease;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1.2em;
}

.main-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.main-btn i {
  font-size: 2rem;
  color: #2563eb;
  flex-shrink: 0;
}

.main-btn div {
  display: flex;
  flex-direction: column;
}

.main-btn h3 {
  font-size: 1.2rem;
  margin-bottom: 0.3em;
  color: #1e293b;
}

.main-btn p {
  color: #64748b;
  font-size: 0.9rem;
}

/* mobile */

@media (max-width: 768px) {
  main {
    padding: 1em;
  }
}

